<div class="item -{{type}}{{#if system.description}} -expandable{{/if}}"
  data-item-id="{{coalesce docId this.id _id}}"
  data-document-id="{{coalesce docId this.id _id}}">
  <h4 class="flexrow -gap-sm title">
    {{#if inSheet}}
      <a data-action="item-chat" title="{{name}}">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}}
  </h4>
  {{#if inSheet}}
    <div>{{system.bonus}}</div>
    <div>{{system.reduction}}</div>
    <div><input data-action="inline-edit" data-field="system.equipped" type="checkbox" {{checked system.equipped}} data-type="Boolean" /></div>
    {{> "systems/l5r4/templates/cards/_partials/_expand.hbs"}}
    {{#if system.description}}
      <div class="expanded-text">
        <p>{{{system.description}}}</p>
      </div>
    {{/if}}
  {{/if}}
  {{#unless inSheet}}
    <p><strong>{{localize "l5r4.ui.common.bonus"}}:</strong> {{system.bonus}}</p>
    <p><strong>{{localize "l5r4.equipment.armor.reduction"}}:</strong> {{system.reduction}}</p>
    {{#if system.description}}
      <h5>{{localize "l5r4.ui.sheets.description"}}</h5>
      <p>
        {{{system.description}}}
      </p>
    {{/if}}
  {{/unless}}
</div>
