<div class="item -{{type}}{{#if (or system.description system.specialRules)}} -expandable{{/if}}"
  data-item-id="{{coalesce docId this.id _id}}"
  data-document-id="{{coalesce docId this.id _id}}">
  <h4 class="flexrow -gap-sm title">
    {{#if inSheet}}
      <a data-action="item-chat" title="{{name}}">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}}
  </h4>
  {{#if inSheet}}
    <div>{{system.effect}}</div>
    {{> "systems/l5r4/templates/cards/_partials/_expand.hbs"}}
    {{#if (or system.description system.specialRules)}}
      <div class="expanded-text">
        {{#if system.specialRules}}
          <p>{{{system.specialRules}}}</p>
        {{/if}}
        {{#if system.description}}
          <p>{{{system.description}}}</p>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
  {{#unless inSheet}}
    {{#if system.effect}}
      <h5>{{localize "l5r4.ui.common.effect"}}</h5>
      <p>
        {{system.effect}}
      </p>
    {{/if}}
    {{#if system.specialRules}}
      <h5>{{localize "l5r4.ui.sheets.rulesSummary"}}</h5>
      <p>
        {{{system.specialRules}}}
      </p>
    {{/if}}
    {{#if system.description}}
      <h5>{{localize "l5r4.ui.sheets.description"}}</h5>
      <p>
        {{{system.description}}}
      </p>
    {{/if}}
  {{/unless}}
</div>
