<form class="standard-form">
  {{#unless weapon}}
    <div class="form-group">
      <label>{{localize "l5r4.ui.mechanics.combat.woundPenalty"}}</label>
      <input type="checkbox" name="woundPenalty" checked="checked" />
    </div>
  {{/unless}}
  {{#unless noVoid}}
    <div class="form-group">
      <label>{{localize "l5r4.ui.mechanics.rings.void"}}</label>
      <input type="checkbox" name="void" />
    </div>
  {{/unless}}
  {{#if trait}}
    <div class="form-group">
      <label>{{localize "l5r4.ui.mechanics.rolls.unskilledRoll"}}</label>
      <input type="checkbox" name="unskilled" />
    </div>
  {{/if}}
  {{#if skill}}
    <div class="form-group">
      <label>{{localize "l5r4.ui.mechanics.rolls.emphasis"}}</label>
      <input type="checkbox" name="emphasis" />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.ui.common.roll"}} {{localize "l5r4.ui.common.mod"}}</label>
      <input type="number" name="rollMod" value={{rollBonus}} />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.ui.common.keep"}} {{localize "l5r4.ui.common.mod"}}</label>
      <input type="number" name="keepMod" value={{keepBonus}} />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.ui.common.total"}} {{localize "l5r4.ui.common.mod"}}</label>
      <input type="number" name="totalMod" value={{totalBonus}} />
    </div>
  {{else}}
    <div class="form-group">
      <label>{{localize "l5r4.ui.common.roll"}} {{localize "l5r4.ui.common.mod"}}</label>
      <input type="number" name="rollMod" />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.ui.common.keep"}} {{localize "l5r4.ui.common.mod"}}</label>
      <input type="number" name="keepMod" />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.ui.common.total"}} {{localize "l5r4.ui.common.mod"}}</label>
      <input type="number" name="totalMod" />
    </div>
  {{/if}}
  {{#if spell}}
    <div class="form-group">
      <label>{{localize "l5r4.magic.spells.affinity"}}</label>
      <input type="checkbox" name="affinity" />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.magic.spells.deficiency"}}</label>
      <input type="checkbox" name="deficiency" />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.magic.spells.useSpellSlot"}} {{ring}}</label>
      <input type="checkbox" name="spellSlot"/>
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.magic.spells.voidSlot"}}</label>
      <input type="checkbox" name="voidSlot" />
    </div>
  {{/if}}
  {{#unless weapon}}
    <div class="form-group">
      <label>{{localize "l5r4.ui.common.tn"}}</label>
      <input type="number" name="tn" value="" placeholder="" />
    </div>
    <div class="form-group">
      <label>{{localize "l5r4.magic.spells.raises"}}</label>
      <input type="number" name="raises" min="0" />
    </div>
  {{/unless}}
</form>
