<section class="ranks">
  <div class="flexcol -gap-xs rank-name"
    data-action="rp-step" data-key="honor"
      title="{{localize "l5r4.ui.hints.shiftClickRankPoints"}}">
    <span>{{localize "l5r4.character.ranks.honorRank"}}</span>
    <span>{{system.honor.rank}}.{{system.honor.points}}</span>
  </div>
  <div class="flexcol -gap-xs rank-name"
    data-action="rp-step" data-key="glory"
    title="{{localize "l5r4.ui.hints.shiftClickRankPoints"}}">
    <span>{{localize "l5r4.character.ranks.gloryRank"}}</span>
    <span>{{system.glory.rank}}.{{system.glory.points}}</span>
  </div>
  <div class="flexcol -gap-xs rank-name"
    data-action="rp-step" data-key="status"
    title="{{localize "l5r4.ui.hints.shiftClickRankPoints"}}">
    <span>{{localize "l5r4.character.ranks.statusRank"}}</span>
    <span>{{system.status.rank}}.{{system.status.points}}</span>
  </div>
  <div class="flexcol -gap-xs rank-name"
    data-action="rp-step" data-key="shadowTaint"
    title="{{localize "l5r4.ui.hints.shiftClickRankPoints"}}">
    <span>{{localize "l5r4.character.ranks.shadowRank"}}</span>
    <span>{{system.shadowTaint.rank}}.{{system.shadowTaint.points}}</span>
  </div>
</section>
