<section class="flexcol -gap-sm">
  <div class="flexrow -gap-sm section-title" data-scope="spells">
    <h4 class="title">{{localize "l5r4.ui.sheets.spells"}}</h4>
    <div class="flexrow -gap-sm spells">
        <span>{{localize "l5r4.ui.sheets.spellSlots"}}:</span>
        <div class="slots">
          <img src="{{iconPath 'water.png'}}" title="{{localize "l5r4.ui.mechanics.rings.water"}}" />
          <span
            data-action="spell-slot"
            data-path="system.spellSlots.water"
            title="{{localize "l5r4.ui.mechanics.rings.water"}} ({{localize "l5r4.ui.hints.leftRightToAdjust"}})">
            {{system.spellSlots.water}}
          </span>
        </div>
        <div class="slots">
            <img src="{{iconPath 'air.png'}}" title="{{localize "l5r4.ui.mechanics.rings.air"}}" />
            <span
              data-action="spell-slot"
              data-path="system.spellSlots.air"
              title="{{localize "l5r4.ui.mechanics.rings.air"}} ({{localize "l5r4.ui.hints.leftRightToAdjust"}})">
              {{system.spellSlots.air}}
            </span>
        </div>
        <div class="slots">
            <img src="{{iconPath 'fire.png'}}" title="{{localize "l5r4.ui.mechanics.rings.fire"}}" />
            <span
              data-action="spell-slot"
              data-path="system.spellSlots.fire"
              title="{{localize "l5r4.ui.mechanics.rings.fire"}} ({{localize "l5r4.ui.hints.leftRightToAdjust"}})">
              {{system.spellSlots.fire}}
            </span>
        </div>
        <div class="slots">
            <img src="{{iconPath 'earth.png'}}" title="{{localize "l5r4.ui.mechanics.rings.earth"}}" />
            <span
              data-action="spell-slot"
              data-path="system.spellSlots.earth"
              title="{{localize "l5r4.ui.mechanics.rings.earth"}} ({{localize "l5r4.ui.hints.leftRightToAdjust"}})">
              {{system.spellSlots.earth}}
            </span>
        </div>
        <div class="slots">
            <img src="{{iconPath 'void.png'}}" title="{{localize "l5r4.ui.mechanics.rings.void"}}" />
            <span
              data-action="spell-slot"
              data-path="system.spellSlots.void"
              title="{{localize "l5r4.ui.mechanics.rings.void"}} ({{localize "l5r4.ui.hints.leftRightToAdjust"}})">
              {{system.spellSlots.void}}
            </span>
        </div>
    </div>
    {{> "systems/l5r4/templates/actor/_partials/_unified-item-create.hbs"}}
    {{> "systems/l5r4/templates/actor/_partials/_expand.hbs"}}
  </div>
  <section class="item-list -spell -header" data-scope="spells">
    <div class="item">
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="name">{{localize "l5r4.ui.common.name"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="ring">{{localize "l5r4.ui.common.ring"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="mastery">{{localize "l5r4.ui.common.mastery"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="range">{{localize "l5r4.magic.spells.range"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="aoe">{{localize "l5r4.magic.spells.aoe"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="duration">{{localize "l5r4.magic.spells.duration"}}</a>
      <span></span>
    </div>
  </section>
  <section class="item-list -spell">
    {{#each spells as |spell id|}}
      {{> "systems/l5r4/templates/cards/spell.hbs" system=spell.system inSheet=true docId=spell.id}}
    {{/each}}
  </section>
</section>
