<section class="flexcol -gap-sm">
  <div class="flexrow -gap-sm section-title" data-scope="armors">
    <h4 class="title">{{localize "l5r4.ui.sheets.armor"}}</h4>
    {{> "systems/l5r4/templates/actor/_partials/_unified-item-create.hbs"}}
    {{> "systems/l5r4/templates/actor/_partials/_expand.hbs"}}
  </div>
  <section class="item-list -armor -header" data-scope="armors">
    <div class="item">
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="name">{{localize "l5r4.ui.common.name"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="bonus">{{localize "l5r4.ui.common.bonus"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="reduction">{{localize "l5r4.equipment.armor.reduction"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="equipped">{{localize "l5r4.equipment.armor.equipped"}}</a>
      <span></span>
    </div>
  </section>
  <section class="item-list -armor">
    {{#each armors as |armor id|}}
      {{> "systems/l5r4/templates/cards/armor.hbs"
          system=armor.system
          inSheet=true
          docId=armor.id}}
    {{/each}}
  </section>
</section>
