<section class="flexcol -gap-sm">
  <div class="flexrow -gap-sm section-title" data-scope="skills">
    <h4 class="title">{{localize "l5r4.ui.sheets.skills"}}</h4>
    {{> "systems/l5r4/templates/actor/_partials/_unified-item-create.hbs"}}
    {{> "systems/l5r4/templates/actor/_partials/_expand.hbs"}}
  </div>
  <section class="item-list -skill -header" data-scope="skills">
    <div class="item">
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="name">{{localize "l5r4.ui.common.name"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="rank">{{localize "l5r4.ui.common.rank"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="trait">{{localize "l5r4.character.skills.properties.trait"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="roll">{{localize "l5r4.ui.common.roll"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="emphasis">{{localize "l5r4.character.skills.properties.emphasis"}}</a>
      <span></span>
    </div>
  </section>
  <section class="item-list -skill">
    {{#each skills as |skill id|}}
      {{> "systems/l5r4/templates/cards/skill.hbs"
          system=skill.system
          inSheet=true
          docId=skill.id}}
    {{/each}}
  </section>
</section>
