<section class="flexcol -gap-sm stats">
  <div class="flexcol actor-header">
    <div class="flexrow -gap-lg pc-info">
      <div class="flexcol flex1">
        <div class="flexrow -gap-sm">
          <h4 class="flex0 title">{{localize "l5r4.ui.common.name"}}</h4>
          <div class="flexrow -gap-xs info-group">
            <input class="flex1" type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'l5r4.ui.common.name'}}" />
          </div>
        </div>
        <div class="flexrow -gap-sm">
          <h4 class="flex0 title">{{localize "l5r4.ui.common.clan"}}</h4>
          <div class="flex1 input-placeholder">{{system.clan}}</div>
        </div>
        <div class="flexrow -gap-sm">
          <h4 class="flex0 title">{{localize "l5r4.ui.common.school"}}</h4>
          <div class="flex1 input-placeholder">{{system.school}}</div>
        </div>
      </div>
      <div class="flexcol flex1">
        <div class="flexrow -gap-sm">
          <h4 class="flex0 title">{{localize "l5r4.ui.common.rank"}}</h4>
          <div class="flex1 input-placeholder">{{system.insight.rank}}</div>
        </div>
        <div class="flexrow -gap-sm">
          <h4 class="flex0 title">{{localize "l5r4.ui.common.xp"}}</h4>
          <div class="flexrow flex1 -gap-xs input-placeholder">
            {{#if system._xp}}
              <div class="flexrow -gap-md">
                <span class="flex0">{{system._xp.spent}}/{{system._xp.total}}</span>
                <a class="button inline-control icon" data-action="xp-modal"><i class="fas fa-chart-line"></i></a>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="flexrow -gap-sm">
          <h4 class="flex0 title">{{localize "l5r4.ui.common.insight"}}</h4>
          <div class="flex1 input-placeholder">{{system.insight.points}}</div>
        </div>
      </div>
    </div>
    <div class="traits-rings">
      <!-- Earth ring -->
      <h4 class="ring-name ring-name-earth">{{localize "l5r4.ui.mechanics.rings.earth"}}</h4>
      <h4 class="ring-rank ring-rank-earth">{{system.rings.earth}}</h4>
      <div class="earth-ring">
        <a class="ring-roll" data-action="roll-ring" data-ring-rank="{{system.rings.earth}}" data-ring-name="{{localize "l5r4.ui.mechanics.rings.earth"}}" data-system-ring="earth">
          <img src="{{iconPath 'earth.png'}}" title="{{localize "l5r4.ui.mechanics.rolls.ringRoll"}}" class="earth-ring-img" />
        </a>
      </div>
      <div class="trait trait-stamina">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.sta}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.sta"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.sta"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="sta" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.sta}}</div>
      </div>
      <div class="trait trait-willpower">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.wil}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.wil"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.wil"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="wil" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.wil}}</div>
      </div>

      <!-- Air ring -->
      <h4 class="ring-name ring-name-air">{{localize "l5r4.ui.mechanics.rings.air"}}</h4>
      <h4 class="ring-rank ring-rank-air">{{system.rings.air}}</h4>
      <div class="air-ring">
        <a class="ring-roll" data-action="roll-ring" data-ring-rank="{{system.rings.air}}" data-ring-name="{{localize "l5r4.ui.mechanics.rings.air"}}" data-system-ring="air">
          <img src="{{iconPath 'air.png'}}" title="{{localize "l5r4.ui.mechanics.rolls.ringRoll"}}" class="air-ring-img" />
        </a>
      </div>
      <div class="trait trait-reflex">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.ref}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.ref"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.ref"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="ref" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.ref}}</div>
      </div>
      <div class="trait trait-awarness">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.awa}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.awa"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.awa"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="awa" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.awa}}</div>
      </div>

      <!-- Water ring -->
      <h4 class="ring-name ring-name-water">{{localize "l5r4.ui.mechanics.rings.water"}}</h4>
      <h4 class="ring-rank ring-rank-water">{{system.rings.water}}</h4>
      <div class="water-ring">
        <a class="ring-roll" data-action="roll-ring" data-ring-rank="{{system.rings.water}}" data-ring-name="{{localize "l5r4.ui.mechanics.rings.water"}}" data-system-ring="water">
          <img src="{{iconPath 'water.png'}}" title="{{localize "l5r4.ui.mechanics.rolls.ringRoll"}}" class="water-ring-img" />
        </a>
      </div>
      <div class="trait trait-strength">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.str}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.str"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.str"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="str" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.str}}</div>
      </div>
      <div class="trait trait-perception">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.per}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.per"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.per"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="per" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.per}}</div>
      </div>

      <!-- Fire ring -->
      <h4 class="ring-name ring-name-fire">{{localize "l5r4.ui.mechanics.rings.fire"}}</h4>
      <h4 class="ring-rank ring-rank-fire">{{system.rings.fire}}</h4>
      <div class="fire-ring">
        <div>
          <a class="ring-roll" data-action="roll-ring" data-ring-rank="{{system.rings.fire}}" data-ring-name="{{localize "l5r4.ui.mechanics.rings.fire"}}" data-system-ring="fire">
            <img src="{{iconPath 'fire.png'}}" title="{{localize "l5r4.ui.mechanics.rolls.ringRoll"}}" class="fire-ring-img" />
          </a>
        </div>
      </div>
      <div class="trait trait-agility">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.agi}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.agi"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.agi"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="agi" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.agi}}</div>
      </div>
      <div class="trait trait-intelligence">
        <a class="trait-roll" data-action="roll-trait" data-trait-rank="{{system.traits.int}}" data-trait-name="{{localize "l5r4.ui.mechanics.traits.int"}}">
          <p title="{{localize "l5r4.ui.mechanics.rolls.traitRoll"}}">{{localize "l5r4.ui.mechanics.traits.int"}}</p>
        </a>
        <div class="trait-rank" data-action="trait-rank" data-trait="int" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{@root.traitsEff.int}}</div>
      </div>

      <!-- Void ring -->
      <h4 class="ring-name ring-name-void">{{localize "l5r4.ui.mechanics.rings.void"}}</h4>
      <div class="ring-rank ring-rank-void" data-action="ring-rank-void" data-ring="void" role="button" title="{{localize "l5r4.ui.hints.leftClickPlusRightClickMinus"}}">{{system.rings.void.rank}}</div>
      <div class="void-ring">
        <a class="ring-roll" data-action="roll-ring" data-ring-rank="{{system.rings.void.rank}}" data-ring-name="{{localize "l5r4.ui.mechanics.rings.void"}}" data-system-ring="void">
          <img src="{{iconPath 'void.png'}}" title="{{localize "l5r4.ui.mechanics.rolls.ringRoll"}}" class="void-ring-img" />
        </a>
      </div>
      <div class="void-points">
        <div class="void-points-dots" data-action="void-points-dots" data-value="{{system.rings.void.value}}" role="button"
            title="{{localize "l5r4.ui.hints.voidPointsClickAdjust"}}">
          <span class="void-dot" data-idx="1"></span>
          <span class="void-dot" data-idx="2"></span>
          <span class="void-dot" data-idx="3"></span>
          <span class="void-dot" data-idx="4"></span>
          <span class="void-dot" data-idx="5"></span>
          <span class="void-dot" data-idx="6"></span>
          <span class="void-dot" data-idx="7"></span>
          <span class="void-dot" data-idx="8"></span>
          <span class="void-dot" data-idx="9"></span>
        </div>
        <p class="void-points-name">{{localize "l5r4.ui.mechanics.rings.voidPoints"}}</p>
      </div>
    </div>
  </div>

  {{#if skills.length}}
    {{> "systems/l5r4/templates/actor/_partials/_skills-section.hbs"}}
  {{/if}}
  {{#if (or weapons.length bows.length)}}
    {{> "systems/l5r4/templates/actor/_partials/_weapon-section.hbs"}}
  {{/if}}
  {{#if armors.length}}
    {{> "systems/l5r4/templates/actor/_partials/_armor-section.hbs"}}
  {{/if}}
  {{> "systems/l5r4/templates/actor/_partials/_item-section.hbs"}}
  {{#if spells.length}}
    {{> "systems/l5r4/templates/actor/_partials/_spell-section.hbs"}}
  {{/if}}
  {{#if techniques.length}}
    {{> "systems/l5r4/templates/actor/_partials/_technique-section.hbs"}}
  {{/if}}
  {{#if kihos.length}}
    {{> "systems/l5r4/templates/actor/_partials/_kiho-section.hbs"}}
  {{/if}}
  {{#if katas.length}}
    {{> "systems/l5r4/templates/actor/_partials/_kata-section.hbs"}}
  {{/if}}
  {{#if tattoos.length}}
    {{> "systems/l5r4/templates/actor/_partials/_tattoo-section.hbs"}}
  {{/if}}
  {{#if advantages.length}}
    {{> "systems/l5r4/templates/actor/_partials/_advantage-section.hbs"}}
  {{/if}}
  {{#if disadvantages.length}}
    {{> "systems/l5r4/templates/actor/_partials/_disadvantage-section.hbs"}}
  {{/if}}
  {{> "systems/l5r4/templates/actor/_partials/_bio.hbs"}}

  <section class="flexcol -gap-sm">
    <div class="flexrow -gap-sm section-title">
      <h4 class="title">{{localize "l5r4.ui.sheets.notes"}}</h4>
    </div>
    <div class="section-container">
      {{#if editable}}
        <prose-mirror
          name="system.notes"
          value="{{ system.notes }}"
          document-uuid="{{ actor.uuid }}"
          class="sized"
          compact>
          {{{ enriched.notes }}}
        </prose-mirror>
      {{else}}
        <div class="editor editor-content">
          {{{ enriched.notes }}}
        </div>
      {{/if}}
    </div>
  </section>
</section>
