<section class="wounds">
  <div class="flexrow -gap-sm section-title">
    <h4 class="title -compact">{{localize "l5r4.ui.mechanics.wounds.wounds"}}</h4>
    <a class="button inline-control icon" data-action="wound-config" title="{{localize 'l5r4.ui.mechanics.wounds.woundConfiguration'}}">
      <i class="fas fa-cog"></i>
    </a>
  </div>
  <div class="grid">
    <span>{{localize "l5r4.ui.mechanics.wounds.woundsSuffered"}}</span>
    <div class="flexrow"><input type="number" name="system.suffered" value="{{system.suffered}}" data-type="Number" /></div>
    
    {{#if (and (eq actor.type "npc") (eq system.woundMode "manual"))}}
      <span>{{localize "l5r4.ui.mechanics.wounds.maxWounds"}}</span>
      <div class="flexrow"><input type="number" value="{{system.wounds.max}}" data-type="Number" disabled /></div>
    {{/if}}
    
    <div class="wound-grid">
      <span>{{localize "l5r4.ui.mechanics.wounds.woundLevel"}}</span>
      <span>{{localize "l5r4.ui.mechanics.wounds.penalty"}}</span>
      <span>{{localize "l5r4.ui.mechanics.wounds.threshold"}}</span>
      <span>{{localize "l5r4.ui.common.current"}}</span>
      {{#if (eq actor.type "npc")}}
        {{#each system.visibleWoundLevels as |lvl name|}}
          <div>{{localize (concat "l5r4.ui.mechanics.wounds." name)}}</div>
          <div>{{penaltyEff}}</div>
          <div>{{value}}</div>
          <div>
            {{#if current}}
              <input type="checkbox" disabled {{checked current}} data-type="Boolean"/>
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        {{#each system.woundLevels as |lvl name|}}
          <div>{{localize (concat "l5r4.ui.mechanics.wounds." name)}}</div>
          <div>{{penaltyEff}}</div>
          <div>{{value}}</div>
          <div>
            {{#if current}}
              <input type="checkbox" disabled {{checked current}} data-type="Boolean"/>
            {{/if}}
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>

</section>
{{#if (eq actor.type "pc")}}
  <section class="wounds">
    <div class="flexrow -gap-sm section-title">
      <h4 class="title -compact">{{localize "l5r4.ui.mechanics.wounds.woundHealRate"}}</h4>
    </div>
    <div class="grid">
      <span>{{localize "l5r4.ui.mechanics.traits.sta"}} {{localize "l5r4.ui.mechanics.wounds.healRateFormula"}} {{localize "l5r4.character.ranks.insightRank"}}</span>
      <div class="flexrow"><span>{{math (math system.traits.sta "*" 2) "+" system.insight.rank}}</span></div>
      <span>{{localize "l5r4.ui.common.mod"}}</span>
      <div class="flexrow"><input type="text" name="system.wounds.mod" value="{{system.wounds.mod}}" data-type="Number" /></div>
      <span>{{localize "l5r4.ui.common.current"}} {{localize "l5r4.ui.common.rate"}}</span>
      <div class="flexrow"><span>{{system.wounds.healRate}}</span></div>
    </div>
  </section>
{{/if}}
