<h4 class="prose-title">{{localize "l5r4.ui.sheets.rulesSummary"}}</h4>
{{#if editable}}
  <prose-mirror name="system.specialRules" value="{{ system.specialRules }}" document-uuid="{{ item.uuid }}" class="sized" compact>
    {{{ enriched.specialRules }}}
  </prose-mirror>
{{else}}
  <div class="editor editor-content">
    {{{ enriched.specialRules }}}
  </div>
{{/if}}
