<div class="chat-card l5r4-roll">
  {{#if flavor}}
    <div class="dice-flavor">
      {{flavor}}
      {{#if targetData}}
        {{#if targetData.single}}
          {{targetData.vsText}} {{targetData.name}}
        {{else if targetData.multiple}}
          ({{targetData.count}} {{targetData.multipleText}})
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
  {{{roll}}}
  {{#if tnResult}}
    <div class="l5r4-tn-result">
      {{#if (eq tnResult.outcome (localize "l5r4.ui.mechanics.rolls.missed"))}}
        {{tnResult.outcome}}
      {{else}}
        {{tnResult.outcome}} {{localize "l5r4.ui.mechanics.combat.targeting.vs"}} {{localize "l5r4.ui.common.tn"}} {{tnResult.effective}}
        {{#if tnResult.raises}} ({{localize "l5r4.magic.spells.raises"}}: {{tnResult.raises}}){{/if}}
      {{/if}}
    </div>
  {{/if}}
  {{#if effectInfo}}
    <div class="effect-applied">
      <strong>{{localize "l5r4.ui.common.effect"}}:</strong> {{effectInfo}}
    </div>
  {{/if}}
  {{#if weaponData}}
    <button class="l5r4-damage-button" 
            data-weapon-id="{{weaponData.id}}" 
            data-actor-id="{{weaponData.actorId}}"
            data-weapon-name="{{weaponData.name}}"
            data-damage-roll="{{weaponData.damageRoll}}"
            data-damage-keep="{{weaponData.damageKeep}}">
      {{localize "l5r4.ui.mechanics.rolls.damageRoll"}} ({{weaponData.name}})
    </button>
  {{/if}}
</div>
